Applications/CloudyBank.PortableServices/Service References/Tags/WCFTagService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="octo.tags.service" elementFormDefault="qualified" targetNamespace="octo.tags.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49830/WCFServices/WCFTagService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" />
  <xs:element name="GetTagsForCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsForCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="GetTagsForCustomerResult" nillable="true" type="q1:ArrayOfTagDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="tag" nillable="true" type="q2:TagDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TagOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationID" type="xs:int" />
        <xs:element minOccurs="0" name="tagID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="tag" nillable="true" type="q3:TagDto" />
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" type="xs:int" />
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="GetStandardTagsResult" nillable="true" type="q4:ArrayOfTagDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
