Applications/CloudyBank.PortableServices/Service References/Tags/WCFTagService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTagDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagDto" nillable="true" type="tns:TagDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagDto" nillable="true" type="tns:ArrayOfTagDto" />
  <xs:complexType name="TagDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagDto" nillable="true" type="tns:TagDto" />
</xs:schema>
