Applications/CloudyBank.PortableServices/Service References/Tags/WCFTagService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="octo.tags.service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="octo.tags.service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="octo.tags.service/Imports">
      <xsd:import schemaLocation="http://localhost:49830/WCFServices/WCFTagService.svc?xsd=xsd0" namespace="octo.tags.service" />
      <xsd:import schemaLocation="http://localhost:49830/WCFServices/WCFTagService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49830/WCFServices/WCFTagService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WCFTagService_GetTagsForCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsForCustomer" />
  </wsdl:message>
  <wsdl:message name="WCFTagService_GetTagsForCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsForCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="WCFTagService_CreateTag_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTag" />
  </wsdl:message>
  <wsdl:message name="WCFTagService_CreateTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTagResponse" />
  </wsdl:message>
  <wsdl:message name="WCFTagService_TagOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:TagOperation" />
  </wsdl:message>
  <wsdl:message name="WCFTagService_TagOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:TagOperationResponse" />
  </wsdl:message>
  <wsdl:message name="WCFTagService_UpdateTag_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTag" />
  </wsdl:message>
  <wsdl:message name="WCFTagService_UpdateTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTagResponse" />
  </wsdl:message>
  <wsdl:message name="WCFTagService_RemoveTag_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTag" />
  </wsdl:message>
  <wsdl:message name="WCFTagService_RemoveTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTagResponse" />
  </wsdl:message>
  <wsdl:message name="WCFTagService_GetStandardTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardTags" />
  </wsdl:message>
  <wsdl:message name="WCFTagService_GetStandardTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardTagsResponse" />
  </wsdl:message>
  <wsdl:portType name="WCFTagService">
    <wsdl:operation name="GetTagsForCustomer">
      <wsdl:input wsaw:Action="octo.tags.service/WCFTagService/GetTagsForCustomer" message="tns:WCFTagService_GetTagsForCustomer_InputMessage" />
      <wsdl:output wsaw:Action="octo.tags.service/WCFTagService/GetTagsForCustomerResponse" message="tns:WCFTagService_GetTagsForCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTag">
      <wsdl:input wsaw:Action="octo.tags.service/WCFTagService/CreateTag" message="tns:WCFTagService_CreateTag_InputMessage" />
      <wsdl:output wsaw:Action="octo.tags.service/WCFTagService/CreateTagResponse" message="tns:WCFTagService_CreateTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TagOperation">
      <wsdl:input wsaw:Action="octo.tags.service/WCFTagService/TagOperation" message="tns:WCFTagService_TagOperation_InputMessage" />
      <wsdl:output wsaw:Action="octo.tags.service/WCFTagService/TagOperationResponse" message="tns:WCFTagService_TagOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTag">
      <wsdl:input wsaw:Action="octo.tags.service/WCFTagService/UpdateTag" message="tns:WCFTagService_UpdateTag_InputMessage" />
      <wsdl:output wsaw:Action="octo.tags.service/WCFTagService/UpdateTagResponse" message="tns:WCFTagService_UpdateTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTag">
      <wsdl:input wsaw:Action="octo.tags.service/WCFTagService/RemoveTag" message="tns:WCFTagService_RemoveTag_InputMessage" />
      <wsdl:output wsaw:Action="octo.tags.service/WCFTagService/RemoveTagResponse" message="tns:WCFTagService_RemoveTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStandardTags">
      <wsdl:input wsaw:Action="octo.tags.service/WCFTagService/GetStandardTags" message="tns:WCFTagService_GetStandardTags_InputMessage" />
      <wsdl:output wsaw:Action="octo.tags.service/WCFTagService/GetStandardTagsResponse" message="tns:WCFTagService_GetStandardTags_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
