Applications/CloudyBank.PortableServices/Service References/Advisors/WCFAdvisorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AdvisorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Identification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvisorDto" nillable="true" type="tns:AdvisorDto" />
</xs:schema>
