Applications/CloudyBank.PortableServices/Service References/Advisors/WCFAdvisorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="octo.advisors.service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="octo.advisors.service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="octo.advisors.service/Imports">
      <xsd:import schemaLocation="http://localhost:49830/WCFServices/WCFAdvisorService.svc?xsd=xsd0" namespace="octo.advisors.service" />
      <xsd:import schemaLocation="http://localhost:49830/WCFServices/WCFAdvisorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49830/WCFServices/WCFAdvisorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WCFAdvisorService_GetCurrentAdvisor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentAdvisor" />
  </wsdl:message>
  <wsdl:message name="WCFAdvisorService_GetCurrentAdvisor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentAdvisorResponse" />
  </wsdl:message>
  <wsdl:message name="WCFAdvisorService_GetAdvisorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvisorById" />
  </wsdl:message>
  <wsdl:message name="WCFAdvisorService_GetAdvisorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvisorByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WCFAdvisorService">
    <wsdl:operation name="GetCurrentAdvisor">
      <wsdl:input wsaw:Action="octo.advisors.service/WCFAdvisorService/GetCurrentAdvisor" message="tns:WCFAdvisorService_GetCurrentAdvisor_InputMessage" />
      <wsdl:output wsaw:Action="octo.advisors.service/WCFAdvisorService/GetCurrentAdvisorResponse" message="tns:WCFAdvisorService_GetCurrentAdvisor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdvisorById">
      <wsdl:input wsaw:Action="octo.advisors.service/WCFAdvisorService/GetAdvisorById" message="tns:WCFAdvisorService_GetAdvisorById_InputMessage" />
      <wsdl:output wsaw:Action="octo.advisors.service/WCFAdvisorService/GetAdvisorByIdResponse" message="tns:WCFAdvisorService_GetAdvisorById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
