Applications/CloudyBank.PortableServices/Service References/Advisors/WCFAdvisorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="octo.advisors.service" elementFormDefault="qualified" targetNamespace="octo.advisors.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49830/WCFServices/WCFAdvisorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" />
  <xs:element name="GetCurrentAdvisor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentAdvisorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="GetCurrentAdvisorResult" nillable="true" type="q1:AdvisorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvisorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvisorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="GetAdvisorByIdResult" nillable="true" type="q2:AdvisorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
