Applications/CloudyBank.PortableServices/Service References/Agencies/WCFAgencyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="octo.agencies.service" elementFormDefault="qualified" targetNamespace="octo.agencies.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49830/WCFServices/WCFAgencyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" />
  <xs:element name="GetAgencies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="GetAgenciesResult" nillable="true" type="q1:ArrayOfAgencyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
