Applications/CloudyBank.PortableServices/Service References/Users/WCFUserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49830/WCFServices/WCFUserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CloudyBank.CoreDomain.Security" />
  <xs:complexType name="UserIdentityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Identification" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CloudyBank.CoreDomain.Security" minOccurs="0" name="UserType" type="q1:UserType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserIdentityDto" nillable="true" type="tns:UserIdentityDto" />
</xs:schema>
