Applications/CloudyBank.PortableServices/Service References/Images/WCFImageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerImageDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerImageDto" nillable="true" type="tns:CustomerImageDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerImageDto" nillable="true" type="tns:ArrayOfCustomerImageDto" />
  <xs:complexType name="CustomerImageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerImageDto" nillable="true" type="tns:CustomerImageDto" />
</xs:schema>
