Applications/CloudyBank.PortableServices/Service References/Images/WCFImageService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49830/WCFServices/WCFImageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" />
  <xs:import schemaLocation="http://localhost:49830/WCFServices/WCFImageService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="GetImagesResult" nillable="true" type="q1:ArrayOfCustomerImageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pixels" nillable="true" type="q2:ArrayOfint" />
        <xs:element minOccurs="0" name="width" type="xs:int" />
        <xs:element minOccurs="0" name="height" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="AddToSetResult" nillable="true" type="q3:CustomerImageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecognizeClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pixels" nillable="true" type="q4:ArrayOfint" />
        <xs:element minOccurs="0" name="width" type="xs:int" />
        <xs:element minOccurs="0" name="height" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecognizeClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecognizeClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveClientImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveClientImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveClientImageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
