Applications/CloudyBank.PortableServices/Service References/TagDepenses/WCFTagDepensesServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTagDepensesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagDepensesDto" nillable="true" type="tns:TagDepensesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagDepensesDto" nillable="true" type="tns:ArrayOfTagDepensesDto" />
  <xs:complexType name="TagDepensesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Depenses" type="xs:decimal" />
      <xs:element minOccurs="0" name="TagId" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagDepensesDto" nillable="true" type="tns:TagDepensesDto" />
</xs:schema>
