Applications/CloudyBank.PortableServices/Service References/CustomerProfiles/WCFCustomerProfileService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="octo.customerprofiles.service" elementFormDefault="qualified" targetNamespace="octo.customerprofiles.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49830/WCFServices/WCFCustomerProfileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" />
  <xs:element name="GetCustomerProfiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="GetCustomerProfilesResult" nillable="true" type="q1:ArrayOfCustomerProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
