Applications/CloudyBank.PortableServices/Service References/Operations/WCFOperationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="octo.operations.service" elementFormDefault="qualified" targetNamespace="octo.operations.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49830/WCFServices/WCFOperationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" />
  <xs:element name="GetOperationsByAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationsByAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="GetOperationsByAccountResult" nillable="true" type="q1:ArrayOfOperationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="debitAccountId" type="xs:int" />
        <xs:element minOccurs="0" name="creditAccountId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="motif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeTransferResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTransferToExternal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="debitAccountId" type="xs:int" />
        <xs:element minOccurs="0" name="creditAccountIban" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="motif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTransferToExternalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeTransferToExternalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="GetOperationByIdResult" nillable="true" type="q2:OperationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationByAccountIdCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="transactionCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationByAccountIdCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" minOccurs="0" name="GetOperationByAccountIdCodeResult" nillable="true" type="q3:OperationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
