Applications/CloudyBank.PortableServices/Service References/Operations/WCFOperationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOperationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperationDto" nillable="true" type="tns:OperationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperationDto" nillable="true" type="tns:ArrayOfOperationDto" />
  <xs:complexType name="OperationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Motif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OppositeIban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagId" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationDto" nillable="true" type="tns:OperationDto" />
</xs:schema>
