Applications/CloudyBank.PortableServices/Service References/Operations/WCFOperationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="octo.operations.service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="octo.operations.service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="octo.operations.service/Imports">
      <xsd:import schemaLocation="http://localhost:49830/WCFServices/WCFOperationService.svc?xsd=xsd0" namespace="octo.operations.service" />
      <xsd:import schemaLocation="http://localhost:49830/WCFServices/WCFOperationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49830/WCFServices/WCFOperationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WCFOperationService_GetOperationsByAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationsByAccount" />
  </wsdl:message>
  <wsdl:message name="WCFOperationService_GetOperationsByAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationsByAccountResponse" />
  </wsdl:message>
  <wsdl:message name="WCFOperationService_MakeTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeTransfer" />
  </wsdl:message>
  <wsdl:message name="WCFOperationService_MakeTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeTransferResponse" />
  </wsdl:message>
  <wsdl:message name="WCFOperationService_MakeTransferToExternal_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeTransferToExternal" />
  </wsdl:message>
  <wsdl:message name="WCFOperationService_MakeTransferToExternal_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeTransferToExternalResponse" />
  </wsdl:message>
  <wsdl:message name="WCFOperationService_GetOperationById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationById" />
  </wsdl:message>
  <wsdl:message name="WCFOperationService_GetOperationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="WCFOperationService_GetOperationByAccountIdCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationByAccountIdCode" />
  </wsdl:message>
  <wsdl:message name="WCFOperationService_GetOperationByAccountIdCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationByAccountIdCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="WCFOperationService">
    <wsdl:operation name="GetOperationsByAccount">
      <wsdl:input wsaw:Action="octo.operations.service/WCFOperationService/GetOperationsByAccount" message="tns:WCFOperationService_GetOperationsByAccount_InputMessage" />
      <wsdl:output wsaw:Action="octo.operations.service/WCFOperationService/GetOperationsByAccountResponse" message="tns:WCFOperationService_GetOperationsByAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeTransfer">
      <wsdl:input wsaw:Action="octo.operations.service/WCFOperationService/MakeTransfer" message="tns:WCFOperationService_MakeTransfer_InputMessage" />
      <wsdl:output wsaw:Action="octo.operations.service/WCFOperationService/MakeTransferResponse" message="tns:WCFOperationService_MakeTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeTransferToExternal">
      <wsdl:input wsaw:Action="octo.operations.service/WCFOperationService/MakeTransferToExternal" message="tns:WCFOperationService_MakeTransferToExternal_InputMessage" />
      <wsdl:output wsaw:Action="octo.operations.service/WCFOperationService/MakeTransferToExternalResponse" message="tns:WCFOperationService_MakeTransferToExternal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationById">
      <wsdl:input wsaw:Action="octo.operations.service/WCFOperationService/GetOperationById" message="tns:WCFOperationService_GetOperationById_InputMessage" />
      <wsdl:output wsaw:Action="octo.operations.service/WCFOperationService/GetOperationByIdResponse" message="tns:WCFOperationService_GetOperationById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationByAccountIdCode">
      <wsdl:input wsaw:Action="octo.operations.service/WCFOperationService/GetOperationByAccountIdCode" message="tns:WCFOperationService_GetOperationByAccountIdCode_InputMessage" />
      <wsdl:output wsaw:Action="octo.operations.service/WCFOperationService/GetOperationByAccountIdCodeResponse" message="tns:WCFOperationService_GetOperationByAccountIdCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
