Applications/CloudyBank.PortableServices/Service References/Partners/WCFPartnerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBusinessPartnerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessPartnerDto" nillable="true" type="tns:BusinessPartnerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessPartnerDto" nillable="true" type="tns:ArrayOfBusinessPartnerDto" />
  <xs:complexType name="BusinessPartnerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Iban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessPartnerDto" nillable="true" type="tns:BusinessPartnerDto" />
</xs:schema>
