Applications/CloudyBank.PortableServices/Service References/Accounts/WCFAccountService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="octo.accounts.service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="octo.accounts.service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="octo.accounts.service/Imports">
      <xsd:import schemaLocation="http://localhost/WCFServices/WCFAccountService.svc?xsd=xsd0" namespace="octo.accounts.service" />
      <xsd:import schemaLocation="http://localhost/WCFServices/WCFAccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WCFServices/WCFAccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WCFAccountService_GetAccountsByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsByCustomer" />
  </wsdl:message>
  <wsdl:message name="WCFAccountService_GetAccountsByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="WCFAccountService_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="WCFAccountService_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="WCFAccountService_GetAccountEvolution_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountEvolution" />
  </wsdl:message>
  <wsdl:message name="WCFAccountService_GetAccountEvolution_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountEvolutionResponse" />
  </wsdl:message>
  <wsdl:portType name="WCFAccountService">
    <wsdl:operation name="GetAccountsByCustomer">
      <wsdl:input wsaw:Action="octo.accounts.service/WCFAccountService/GetAccountsByCustomer" message="tns:WCFAccountService_GetAccountsByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="octo.accounts.service/WCFAccountService/GetAccountsByCustomerResponse" message="tns:WCFAccountService_GetAccountsByCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="octo.accounts.service/WCFAccountService/CreateAccount" message="tns:WCFAccountService_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="octo.accounts.service/WCFAccountService/CreateAccountResponse" message="tns:WCFAccountService_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountEvolution">
      <wsdl:input wsaw:Action="octo.accounts.service/WCFAccountService/GetAccountEvolution" message="tns:WCFAccountService_GetAccountEvolution_InputMessage" />
      <wsdl:output wsaw:Action="octo.accounts.service/WCFAccountService/GetAccountEvolutionResponse" message="tns:WCFAccountService_GetAccountEvolution_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
