Applications/CloudyBank.PortableServices/Service References/Accounts/WCFAccountService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloudyBank.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountDto" nillable="true" type="tns:AccountDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountDto" nillable="true" type="tns:ArrayOfAccountDto" />
  <xs:complexType name="AccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorizeOverdraft" type="xs:boolean" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="BalanceDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Iban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDto" nillable="true" type="tns:AccountDto" />
  <xs:complexType name="ArrayOfBalancePointDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalancePointDto" nillable="true" type="tns:BalancePointDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBalancePointDto" nillable="true" type="tns:ArrayOfBalancePointDto" />
  <xs:complexType name="BalancePointDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BalancePointDto" nillable="true" type="tns:BalancePointDto" />
</xs:schema>
